.juntagrico_logo {
    background: url(/static/gm/img/logo.png) 0 0px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 580px;
    height: 161px;
}
body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  color: #5d4a3e;
  background-color: #f5f1ec;
}
